.league {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
    margin-right: 0px;
    justify-content: space-between;
    min-width: 150px;
    border: 1px solid #dfe6e9;
    padding: 10px;
    cursor: pointer;
    /* background-color: #1e2124; */
    background-color: #636e72;
}

.league:hover {
    background-color: #353849;
}

/* .league:focus .dropDown{
    display: block;
} */

.leagueName {
    margin-right: 5px;
    text-align: right;
}

.caretDown {
    font-size: 16px;
    padding: 0px 2px;
    /* cursor: pointer; */
}

/* .caretDown:hover {
    background-color: #E0E0E0;
    border-radius: 4px;
} */

.dropDown {
    border: 1px solid #dfe6e9;
    position: absolute;
    top: 37px;
    right: -1px;
    white-space: nowrap;
    min-width: 130px;
    background-color: #353849;
}

.leagueLi{
    min-width: 150px;
    padding: 10px;
}

.leagueLi:hover {
    background-color: #636e72;
}