.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #808080;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000000;
    padding: 0px 10px;
    color: #e2e2e2;
}